<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Mercado Liebre </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Macondo&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "/public/css/fonts.css">
    <link rel = "stylesheet" href = "/public/css/mobile.css">
    <link rel = "stylesheet" href = "/public/css/tablets.css">
    <link rel = "stylesheet" href = "/public/css/desktop.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    
</head>

<body>
    <header>
        <section class="sectionHeader">
            <figure class="logo">
                <a href = "/">
                <img src="/public/imagenes/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
                </a>
            </figure>
            <form action="/" method="get">
                <fieldset>
                    <input class="input-search" type="text" name="search" id="search" placeholder="Buscar productos, marcas y más">
                    <button><i class="fa-solid fa-search lupa"></i></button>
                </fieldset>
            </form>
            <p class="header-p"><i class="fa-solid fa-hand-holding-dollar mano"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </section>
        <section class="headerNav">
            <nav class="nav-top">
                <a href="#">Ofertas</a>
                <a href="">Tiendas Oficiales</a>
                <a href="#">Vender</a>
                <a href="#">Ayuda</a>
            </nav>
            <nav class="nav-bottom">
                <a href="/register">Creá tu cuenta<i class="fa-regular fa-id-card icon-nav"></i></a>
                <a href="/login">Ingresa<i class="fa-solid fa-right-to-bracket icon-nav"></i></a>
                <a href="#">Mis Compras<i class="fa-solid fa-basket-shopping icon-nav"></i></a>
            </nav>
            <nav class="burger-menu">
                <a href="#"><i class="fas fa-bars barras"></i></a>
            </nav>
        </section>
    </header>
    <p class="banner">
        <figure><img src="/public/imagenes/banner.jpg"></figure>
    </p>
    <main>
        <h2 class ="titulares">Basado en tu última visita</h2>
        <section class = "sectionMain">
            <article>
                <figure><img src="/public/imagenes/cafetera.jpg"></figure>
                <div class="caja">
                    <i class="fa-solid fa-truck camion"></i>
                    <div class="pago">
                        <h4 class="precios">$6.700</h4>
                        <h5 class="descuentos">40% OFF</h5>
                    </div>
                    <h5 class ="descripciones">Cafetera Moulinex</h5>
                </div>
            </article>
            <article>
               <figure> <img src="/public/imagenes/macbook.jpg"></figure>
                <div class="caja">
                   <i class="fa-solid fa-truck camion"></i>
                <div class="pago">
                    <h4 class ="precios">$230.000</h4>
                    <h5 class ="descuentos">20% OFF</h5>
                </div>
                    <h5 class ="descripciones">Macbook Pro 2019</h5>
                </div>
            </article>
            <article>
                <figure><img src="/public/imagenes/img-samsung-galaxy-s10.jpg"></figure>
                <div class="caja">
                   <i class="fa-solid fa-truck camion"></i>
                    <div class="pago">
                        <h4 class = "precios">$70.500</h4>
                        <h5 class ="descuentos">10% OFF</h5>
                    </div>
                    <h5 class ="descripciones">Samsung Galaxy S10</h5>
                </div>
            </article>
            <article>
                <figure><img src="/public/imagenes/img-tv-samsung-smart.jpg"></figure>
                <div class="caja">
                    <i class="fa-solid fa-truck camion"></i>
                    <div class="pago">
                        <h4 class ="precios">$23.200</h4>
                        <h5 class ="descuentos">5% OFF</h5>
                    </div>
                    <h5 class ="descripciones">SamsungTv Smart 43"</h5>
                </div>
            </article>
        </section>
        <h2 class ="titulares">Sección de ofertas</h2>
        <section class = "sectionMain">
            <article>
                <figure><img src="/public/imagenes/cafetera.jpg"></figure>
                <div class="caja">
                    <i class="fa-solid fa-truck camion"></i>
                    <div class="pago">
                        <h4 class ="precios">$6.700</h4>
                        <h5 class ="descuentos">40% OFF</h5>
                    </div>
                    <h5 class ="descripciones">Cafetera Moulinex</h5>
                </div>
            </article>
            <article>
                <figure><img src="/public/imagenes/macbook.jpg"></figure>
                <div class="caja">
                    <i class="fa-solid fa-truck camion"></i>
                    <div class="pago">
                        <h4 class ="precios">$230.000</h4>
                        <h5 class ="descuentos">20% OFF</h5>
                    </div>
                    <h5 class ="descripciones">Macbook Pro 2019</h5>
                </div>
            </article>
            <article>
                <figure><img src="/public/imagenes/img-samsung-galaxy-s10.jpg"></figure>
                <div class="caja">
                    <i class="fa-solid fa-truck camion"></i>
                    <div class="pago">
                        <h4 class ="precios">$70.500</h4>
                        <h5 class ="descuentos">10% OFF</h5>
                    </div>
                    <h5 class ="descripciones">Samsung Galaxy S10</h5>
                </div>
            </article>
            <article>
                <figure><img src="/public/imagenes/img-tv-samsung-smart.jpg"></figure>
                <div class="caja">
                    <i class="fa-solid fa-truck camion"></i>
                    <div class="pago">
                        <h4 class ="precios">$23.200</h4>
                        <h5 class ="descuentos">5% OFF</h5>
                    </div>
                    <h5 class ="descripciones">SamsungTv Smart 43"</h5>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <i class="fa-solid fa-credit-card iconos"></i>
            <p class="titulo-footer">Pagá con tarjeta o en efectivo</p>
            <p class="texto-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-gift iconos"></i>
            <p class="titulo-footer">Envío gratis desde $ 2.500</p>
            <p class="texto-footer">Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield iconos"></i>
            <p class="titulo-footer">Seguridad, de principio a fin</p>
            <p class="texto-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
        </section>
        <section class="copy-footer">
            <p>Copyright © 1999-2022 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>