body {
    font-family: 'Roboto', sans-serif;  
}
 
.precio {
        display: flex;
        font-weight: normal;
        font-size: 18px; 
        flex-grow: 0.3;
        margin: auto;
}


.descuento {
        font-weight: normal;
        font-size: 16px;
        color : #7EF036;
        display: flex;
        flex-grow: 0.7;
        margin: auto;
        } 



p {
        font-size: 14px;
        text-align: center;
        }

.titulares {font-size : 24px;
        text-align: center; }

.info {
        font-size: 24px;
        text-align: center;}

#subtitulo {
        text-align: center;
        font-family: roboto;
        font-size: 16px;}

div {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 0.7;
        margin : auto;
        align-items: baseline;
}