
* {
    margin:0;
    padding: 0%;
    box-sizing: border-box;
    border:none;
    outline: none;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb ;  
}

form fieldset {
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    margin-right: 35%;
    align-items: baseline;
    background-color: white;
    padding: auto;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-top: 8px;
    margin-top : 7px;
    margin-bottom: 7px;
    
}
form fieldset input {
    margin: 10px;
    text-align: center;
}


.usuario {
    border-radius: 8px;
    width: auto;
    height: 45px;
    text-align: left;
    padding-left: 10px;
    background-color: #ebebeb;
    
}

.nombre {
    background-color: #ebebeb;
    border-radius: 8px;
    width: auto;
    height: 45px;
    text-align: left;
    padding-left: 10px;
}

.fecha {
    border-radius: 8px;
    width: auto;
    height: 45px;
    text-align: left;
    padding-left: 10px;
    background-color: #ebebeb;
}

.domicilio {
    border-radius: 8px;
    width: auto;
    height: 45px;
    text-align: left;
    padding-left: 10px;
    background-color: #ebebeb;
}

.opciones {
    display: flex;
    justify-content: space-around;
    background-color: #ebebeb;
}

.contraseña {
    border-radius: 8px;
    width: auto;
    height: 45px;
    text-align: left;
    padding-left: 10px; 
    background-color: #ebebeb;
}



header {
    background-color: #EAC926;
    
}
.icono {
    text-align: right;
    font-size: 18px;
    margin-bottom: 10px;
    color : black;
    margin-right: 10px;
}




figure {
 
    padding-top: 10px;
    padding-left: 50px;
    width: 350px;
    height: 100px;
}
#subtitulo {
    text-align: center;
    font-family: roboto;
    font-size: 16px;
    display: flex;
    align-items: baseline;
    width: 33.33%;}
#site {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    }
#login-bar{
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    }
.SiteyLogin {
    display: flex;
    justify-content: space-evenly;
    justify-content: space-around;
    }
   


div.contenedor {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: baseline;
}



fieldset.barraBusqueda{
    padding: 0%;
    margin: 0;
    background-color: #EAC926;
    
  
}

button {
    display: flex;
    justify-content: space-evenly;}

   
