@media screen and (min-width:768px){
    p{
        display: flex;
        font-size: 15px;
        
    }
    .footer{
        justify-content: space-around;
        display:flex;
        font-size: 18px;
        padding: 10px;
        background-color: #e6e6e6;
    }

    h2.info {
        font-size: 16px;
        text-align: center;
        width: 33%;
        }
    .iconobusqueda {
        text-decoration: none;
        background-color: white;
    }

    
}