@media (min-width : 0px) and (max-width : 360px){
    header {
        background-color: #EAC926;
    }
    body {
        font-family: 'Roboto', sans-serif;  
    }
    #site {
        display: none;
    }
    #login-bar {
        display: none;
    }
  
    figure {
        width : 80%;
        text-align: center;
        padding: 15px;
       
    }
    footer {
        text-align: center;
    }
    .iconosPie {
        font-size: 2em;
        margin-top: 8px;
        text-align: center
    }
    #subtitulo {
        text-align: center;
        font-family: roboto;
        font-size: 16px;
    }
    div.contenedor{
        display: flex;
        flex-direction: column;
        
    }
   
    button:hover{
        background-color: #0022AA; 
     }
     
     fieldset {
         display: flex;
         flex-direction: column;
         position: relative;
         left : 50%
         
     }
     form {
         text-align: center;
         width: 50%;
         position: relative;
         left : 50px
     }
     *{
         margin: 0px;
         padding: 0;
         border: none;
         outline: none;
     }
     
     body {
         background-color: #e6e6e6;
         font-family: 'Roboto';
     }
     
     .usuario {
         margin-top: 30px;
         border-radius: 8px;
         width: auto;
         height: 45px;
         text-align: left;
         padding-left: 10px;
         border: none;
     }
     .contraseña {
         margin-top: 30px;
         border-radius: 8px;
         width: auto;
         height: 45px;
         text-align: left;
         padding-left: 10px;
         border: none;
     }
   
}