@media screen and (min-width:768px) {
    .footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: white;
        margin-top: 20px;
        position: relative;
        top : 240px
       
    }
    .parrafo {
        text-align: center;
        padding-bottom: 20px;
        
    }

    h2.info {
        font-size: 16px;
        text-align: center;
        
        }
        
    .iconosPie{
        padding-top: 7px;
        font-size: 2em;
        text-align: center;
        }
    .iconosPie:hover {
        color : #59FA00
    }
    .footers {
        display: flex;
        flex-direction: column;
    }
    .texto {
        position: absolute;
        bottom : 0%;
        left : 8px;
        text-align: center;
    }
    fieldset {
        display: flex;
        flex-direction: column;
        position: relative;
        left : 50%
    }
}