
@media (min-width : 768px){
button:hover{
   background-color: #0022AA; 
}

fieldset {
    display: flex;
    flex-direction: column;
    
}
form {
    text-align: center;
    width: 50%;
    position: relative;
    left : 50px
}
*{
    margin: 0px;
    padding: 0;
    border: none;
    outline: none;
}

body {
    background-color: #e6e6e6;
    font-family: 'Roboto';
}

.usuario {
    margin-top: 30px;
    border-radius: 8px;
    width: auto;
    height: 45px;
    text-align: left;
    padding-left: 10px;
    border: none;
}
.contraseña {
    margin-top: 30px;
    border-radius: 8px;
    width: auto;
    height: 45px;
    text-align: left;
    padding-left: 10px;
    border: none;
}
p{
    display: flex;
    font-size: 15px;
    
}

header {
    background-color: #EAC926;
    
}
.icono {
    text-align: right;
    font-size: 18px;
    margin-bottom: 10px;
    color : black;
    margin-right: 10px;
}

figure {
    width: 350px;
    height: 100px;
    }



    #site {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    }
#login-bar{
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    }
.SiteyLogin {
    display: flex;
    justify-content: space-evenly;
    justify-content: space-around;
    }
   


#subtitulo {
        text-align: center;
        font-family: roboto;
        font-size: 16px;
}
       
    }
    
div.contenedor {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
  
}

form#form-search{
    
    left: 20px;
    border: none;

    top:50px;
    width: 33.33%;}

   footer {
    text-align: center;
}
.iconosPie {
    font-size: 2em;
    margin-top: 8px;
    text-align: center
}
.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    margin-top: 20px;
    position: relative;
    top : 240px
   
}
.parrafo {
    text-align: center;
    padding-bottom: 20px;
    
}

h2.info {
    font-size: 16px;
    text-align: center;
    
    }
    
.iconosPie{
    padding-top: 7px;
    font-size: 2em;
    text-align: center;
    }
.iconosPie:hover {
    color : #59FA00
}
.footers {
    display: flex;
    flex-direction: column;
}
.texto {
    position: absolute;
    bottom : 0%;
    left : 8px;
    text-align: center;
}

