@media (min-width : 0px) and (max-width : 360px){
    .imagen {
        width : 90%
    }
    .descripcion {
        display: none;
    }
   
    #site {
        display: none;
    }
    #login-bar {
        display: none;
    }
    .articulos {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width : 100%
    }
    figure {
        align-items: flex-start;
        padding-left : 10px;
    }
    #burger{
        text-align: center;
    }
    #burger a{
        background-color: rgb(0,0,255);
        width: 46px;
        height: 46px;
        margin: 23px;
        padding: 10px;
        color : hsl(210,100%,100%);
        font-size: 23px;
        text-decoration: none;
        border-radius: 6px;
        display: inline-block;
        box-sizing: border-box;
    }

    .barra {
        text-align: right;
    }
    footer {
        text-align: center;
    }
    .iconosPie {
        font-size: 2em;
        margin-top: 8px;
        text-align: center
    }
    
    
}