header {
    background-color: #EAC926;
}
body {
    background-color: #E1E8DB;
    }


/*iconos log,crear,carrito*/
.icono {
    text-align: right;
    font-size: 18px;
    margin-bottom: 10px;
    color : black;
    margin-right: 10px;
}

/*icono de hamburguesa*/
#burger{
    text-align: center;
}
#burger a{
    background-color: rgb(0,0,255);
    width: 46px;
    height: 46px;
    margin: 23px;
    padding: 10px;
    color : hsl(210,100%,100%);
    font-size: 23px;
    text-decoration: none;
    border-radius: 6px;
    display: inline-block;
    box-sizing: border-box;
}

/*camion de envios*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
    
i .fa-truck{
        transition: all 400ms;
     }
.fa-truck:hover{
        transform: rotate(-90deg);
     }
nav.envio {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    right: 20px;
    top: -15px;
    position: relative;
    left: 20px;
    transition: all;
    border : 1px solid #39b54a;
    background-color: #FFF;
    color : #39b54a;
    border-radius: 50%;
}
/*logo mercado libre*/
figure {
    padding-top: 10px;
    padding-left: 50px;
    width: 350px;
    height: 100px;
}


main{
    margin-left:5%;
    width: 90%;
    text-align: center;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

div {
    border-top: 1px solid #ebebeb;
    padding : 15px;
    display: flex;
    align-items: baseline;
}

.banner {
    width: 100%;
    margin: auto;
}



.logo {
    width: 50%;
}


.barraBusqueda {
    border: none;
    display: flex;
    justify-content: center;
}


div.contenedor {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.articulos {
    position: relative;
    text-align: center;  
    border-top: 1px solid #ebebeb;
    padding : 15px;
}
.articulos:hover .descripcion {
    display: block;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.descripcion {
   display: none;
   position : absolute; 
   top : 5px;
   left: 8px;
   right: 8px;
   bottom: 90px;
   text-align: center;
   padding: 15px;
   font-size: 24px;
   background-color: rgba(0,0,0,0.4);
   color : white

}
